<h3>フォローしているユーザー</h3>
<% @user.user.followings.each do |user| %>
<table>
<tr>
  <td>  <%= user.name %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>
<p><%= link_to "トップページへ戻る", root_path %></p>
