<h3>フォローされているユーザー</h3>
<% @user.followers.each do |user| %>
<table>
<tr>
  <td>  <%= user.name %> </td>
  <td><%= link_to '詳細', myroom_post_path(user) %></td>
</tr>

</table>
<% end %>
  <% breadcrumb :followers_user1 %>