<%# ------------------このファイルは削除する可能性あり ----------------------%>
<div class='main'>
  <div class='item-contents'>
    <li>
      <%= link_to '詳細', post_path(post.id), method: :get %>
      <div class='item-img-content'>
        <p><%= image_tag(image, class: "item-img") %></p>
      </div>
    </li>
  </div>
</div>
<%# ------------------このファイルは削除する可能性あり ----------------------%>
