
<!DOCTYPE html>
<!--[if lte IE 9.0]>
<html lang="ja" class="ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> <!-->
<html lang="ja"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <%# <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
	    <title>IMA ONLINE</title>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0">

    <meta name="keywords" content="IMA, LIVING WITH PHOTOGRAPHY,アートフォト,写真">
    <meta name="description" content="国内外のアートフォトに関連する展覧会、イベント、コンテスト、アーティストを紹介する国内無二のアートフォト情報専門サイト。“LIVING WITH PHOTOGRAPHY”をコンセプトとするIMAプロジェクトの活動もタイムリーにご紹介。">
    <meta property="og:title" content="IMA ONLINE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://imaonline.jp/">
    <meta property="og:image" content="https://imaonline.jp/wp-content/uploads/2016/06/top_publishing_imamagazine.jpg">
    <meta property="og:site_name" content="https://imaonline.jp/">
    <meta property="og:description" content="国内外のアートフォトに関連する展覧会、イベント、コンテスト、アーティストを紹介する国内無二のアートフォト情報専門サイト。“LIVING WITH PHOTOGRAPHY”をコンセプトとするIMAプロジェクトの活動もタイムリーにご紹介。">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:ttl" content="2419200" />
    <meta property="fb:app_id" content=""> %>
    
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KW2BSG');</script>
    <!-- End Google Tag Manager -->

    <script src="https://use.typekit.net/avh6imd.js"></script>
    <script>try {
            Typekit.load({async: false});
        } catch (e) {
        }</script>

    <link href="https://fonts.googleapis.com/css?family=Teko:500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://imaonline.jp/wp-content/themes/ima/common/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://imaonline.jp/wp-content/themes/ima/common/css/style.css?202102121">
    <link rel="stylesheet" href="https://imaonline.jp/wp-content/themes/ima/common/css/style_n.css?202011271">
    <link rel="stylesheet" href="https://imaonline.jp/wp-content/themes/ima/css/style.css?201912171">

	    <script>
        var ajaxurl = 'https://imaonline.jp/wp-admin/admin-ajax.php';
    </script>
    <link rel='dns-prefetch' href='//code.jquery.com' />
<link rel='dns-prefetch' href='//www.google.com' />
<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/imaonline.jp\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.2"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

	        <style>
            @media screen and (max-width: 768px) {
                .main-slider .text-box {
                    padding-bottom: 0;
                }
            }
        </style>
    
</head>
<body class="home blog">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KW2BSG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="wrapper">

            <%# <script type="text/javascript">
            if (window.innerWidth < 769) {
            document.write('<div id="add-area" class="add-top-s" style="text-align: center">');                document.write('<!-- /4452352/YIELDONE_20201001_GUCCI_20FW -->');
                                document.write('<div id=\'div-gpt-ad-1603332362671-0\'>');
                                document.write('<scr' + 'ipt>');
                                document.write('googletag.cmd.push(function() { googletag.display(\'div-gpt-ad-1603332362671-0\'); });');
                                document.write('</scr' + 'ipt>');
                                document.write('</div>');
                document.write('</div>');            }
        </script> %>
        
    <header class="global-header" id="global-header">
        <div class="header-wrap">
            <div class="header-top-block">
                <%# <div class="header-top-left">
                    <ul class="sns">
                        <li class="sns-fb"><a href="https://www.facebook.com/imaonline.jp/" target="_blank"><img
                                        src="/wp-content/uploads/2016/05/fb-b.svg" alt="Facebook"
                                        onmousedown="return false" onselectstart="return false"></a></li>
                        <li class="sns-tw"><a href="https://twitter.com/imaonline_jp" target="_blank"><img
                                        src="/wp-content/uploads/2016/06/tw-b.svg" alt="Twitter"
                                        onmousedown="return false" onselectstart="return false"></a></li>
                        <li class="sns-ig"><a href="https://www.instagram.com/ima_online/" target="_blank"><img
                                        src="/wp-content/uploads/2017/11/instagramicon.svg" alt="Instagram"
                                        onmousedown="return false" onselectstart="return false"></a></li>
                    </ul>
                </div> %>
                <div class="header-top-center">
                    <div class="logo">
                        <a href="/"></a>
                    </div>
                </div>
                <div class="header-top-right">
                    <div class="search-btn pc-mode"></div>

                    <div class="hbg-btn-wrap pc-mode">
                        <p class="btn-menu" id="btn-menu-pc">
                            <span class="bar01"></span>
                            <span class="bar02"></span>
                            <span class="bar03"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div id="head-top-wrap">

                <div class="nav-wrap" id="nav-wrap">


                    <%# 必要 %>
                    <nav class="global-nav" id="global-menu">
                        <ul class="link main-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <li class="main-link"><a href="/all/" itemprop="url" ><span itemprop="name">ALL</span></a></li>
                            <li class="main-link"><a href="/news/" itemprop="url" ><span itemprop="name">NEWS</span></a></li>
                            <li class="main-link"><a href="/articles/" itemprop="url" ><span itemprop="name">ARTICLES</span></a></li>
                            <li class="main-link"><a href="https://ima-next.jp" target="_blank"><span>CONTEST</span></a></li>
                            <li class="main-link"><a href="/imagraphy/" itemprop="url" ><span itemprop="name">IMAGRAPHY</span></a></li>
                            <li class="main-link"><a href="/imapedia/?category=artist" itemprop="url" ><span itemprop="name">IMAPEDIA</span></a></li>
                            <li class="main-link"><a href="https://imaonline.jp/imaproject/ima_magazine/vol34/" itemprop="url" ><span itemprop="name">MAGAZINE</span></a></li>
                            <li class="main-link"><a href="/imaproject/ima-gallery/" itemprop="url" ><span itemprop="name">IMA gallery</span></a></li>
                        </ul>
                    </nav>
                    <%# /必要 %>
                    <div class="underlayer-wrap pc-mode">
                        <ul>
																						
                                <li data-category="all-layer">
                                    <div class="underlayer">
										                                    </div>
                                </li>
															
                                <li data-category="news-layer">
                                    <div class="underlayer">
										                                            <ul>
												                                                    <li>
                                                        <a                                                            href="/news/"><span>ALL</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/news/exhibition/"><span>展覧会</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/news/event/"><span>イベント</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/news/photobook/"><span>新刊情報</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/news/contest/"><span>コンテスト</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/news/others/"><span>そのほか</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/ima_members/present/"><span>プレゼント</span></a>
                                                    </li>
												                                            </ul>
										                                    </div>
                                </li>
															
                                <li data-category="articles-layer">
                                    <div class="underlayer">
										                                            <ul>
												                                                    <li>
                                                        <a                                                            href="/articles/"><span>ALL</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/interview/"><span>インタヴュー</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/report/"><span>レポート</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/bookreview/"><span>ブックレヴュー</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/global_news/"><span>グローバルニュース</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/archive/"><span>アーカイヴ</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/style/"><span>ライフスタイル</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/how_to/"><span>アート写真入門</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/art_and_business/"><span>アートとビジネス</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/articles/editors_pick/"><span>連載</span></a>
                                                    </li>
												                                            </ul>
										                                    </div>
                                </li>
															
                                <li data-category="imagraphy-layer">
                                    <div class="underlayer">
										                                    </div>
                                </li>
															
                                <li data-category="imavision-layer">
                                    <div class="underlayer">
										                                    </div>
                                </li>
															
                                <li data-category="-layer">
                                    <div class="underlayer">
										                                    </div>
                                </li>
															
                                <li data-category="imaproject-layer">
                                    <div class="underlayer">
										                                            <ul>
												                                                    <li>
                                                        <a                                                            href="/imaproject/"><span>ABOUT</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/imaproject/ima_magazine/"><span>雑誌IMA</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/imaproject/ima_photobooks/"><span>写真集</span></a>
                                                    </li>
												                                                    <li>
                                                        <a                                                            href="/imaproject/artist/"><span>所属アーティスト</span></a>
                                                    </li>
												                                                    <li>
                                                        <a target="_blank"                                                           href="https://ima-next.jp/"><span>フォトコンテスト</span></a>
                                                    </li>
												                                            </ul>
										                                    </div>
                                </li>
															
                                <li data-category="-layer">
                                    <div class="underlayer">
										                                    </div>
                                </li>
															
                                <li data-category="photoastrology-layer">
                                    <div class="underlayer">
										                                    </div>
                                </li>
							                        </ul>
                    </div>

                </div>

                <div class="header-search" style="display: none">
                    <div>
                        <form action="/search" method="get">
                            <input type="search" placeholder="検索ワードを入力" class="text-box" name="search">
                            <input type="submit" class="btn-search">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-horizontal nav-horizontal-top">
            <div class="mask">
                <ul class="list">
                                        <li><a href="/all/" class=""><span>ALL</span></a></li>
                    <li><a href="/news/" class=""><span>NEWS</span></a></li>
                    <li><a href="/articles/" class=""><span>ARTICLES</span></a></li>
                    <li><a href="https://ima-next.jp" class="" target="_blank"><span>CONTEST</span></a></li>
                    <li><a href="/imagraphy/" class=""><span>IMAGRAPHY</span></a></li>
                    <li><a href="/imapedia/?category=artist" class=""><span>IMAPEDIA</span></a></li>
                    <li><a href="https://imaonline.jp/imaproject/ima_magazine/vol34/" class=""><span>MAGAZINE</span></a></li>
                    <li><a href="/imaproject/ima-gallery/" class=""><span>IMA&nbsp;gallery</span></a></li>
                </ul>
            </div>
        </div>


        <div class="hbg-nav-wrap" id="hbg-nav-wrap" style="display: none">
            <div class="hbg-nav-header">
                <div class="hbg-btn-wrap">
                    <p class="btn-menu on" id="btn-menu-close">
                        <span class="bar01"></span>
                        <span class="bar02"></span>
                        <span class="bar03"></span>
                    </p>
                </div>

                <ul class="pc-mode white-area">
                    <li class="main-link en">
                        <a href="/en/"><span><img
                                        src="https://imaonline.jp/wp-content/themes/ima/common/images/svg/en.svg"
                                        alt="EN"></span></a>
                    </li>

                </ul>

            </div>

	        		                        <div class="nav-wrap-pickup-post">
                    <a href="https://imaonline.jp/articles/interview/20210309tadashi-harada/">
                        <div class="nav-wrap-pickup-post-img-wrap" style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210309tadashi-harada_01-670x447.jpg)">
                        </div>
                        <p>
					        ジョジョを実写化した資生堂・原田忠が影響される写真集『セルジュ・ルタンス』                        </p>
                    </a>
                </div>
	                    <div class="nav-wrap-pickup-tags">
                <ul>
			        				                                    <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/photoastrology/march-2021/"
                                                                           class=""><span>3月後半の運勢</span></a>
                            </li>
				                                    <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/imaseries/rinko-kawauchi/"
                                                                           class=""><span>連載 川内倫子の日々</span></a>
                            </li>
				                                    <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/articles/interview/20210311taro-mizutani/#page-1"
                                                                           class=""><span>水谷太郎の愛機</span></a>
                            </li>
				                                    <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/articles/report/20210212eiko-ishioka/"
                                                                           class=""><span>石岡瑛子展 レポート</span></a>
                            </li>
				                                    <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/news/contest/20210119/"
                                                                           class=""><span>IMA next #19 "COLOR"</span></a>
                            </li>
				        				        			                        </ul>
            </div>


            <div class="nav-wrap-backnumber">
                <a href="https://imaonline.jp/imaproject/ima_magazine/vol34/">
                    <div class="nav-wrap-backnumber-img-wrap" style="background-image:url(https://imaonline.jp/wp-content/uploads/2020/11/magazine-20201119vol34_01_s.png)"></div>
                    <div class="nav-wrap-backnumber-text-wrap">
                        <h3>IMA 2020 Winter Vol.34</h3>
                        <p class="nav-wrap-backnumber-date">2020年11月29日発売</p>
                        <h4><span>ヴィヴィアン・サッセン、その鮮烈なるビジョン</span></h4>
                        <p class="nav-wrap-backnumber-lead">
					        2000年以降の写真表現における変革にデジタル化が大きな影響を与えたことは疑いようもない事実だが、同じくらい重要なファクターとして挙げられるのがヴィヴィアン・サッセンというアーティストの登場かもしれない。ジャンルを横断して影響を与えたビジュアルランゲージのインパクトは、「サッセン以前、以降」という線引きをしてもいいと言ったら言い過ぎだろうか？ 制作の裏側に潜む彼女の人生における重要な出来事、思考の軌跡、そして意識の変容。それらを探索し、考察する作業は、私たちが時代に対峙し、自己を見つめる普遍的なヒントを与えてくれる。いま改めて、鮮やかなイメージが発する声に耳を傾けてみよう。                        </p>
                    </div>
                </a>
            </div>

            <div class="nav-wrap-members">
                <p>
                    IMAが厳選した写真やアートフォトに関連する情報をメールマガジンでお届け！会員限定プレゼントやお得な特典も。
                </p>
                <a href="/ima_members/">
                    <span>IMA MEMBERS</span>
                </a>
            </div>


	        
	                        <div class="foot-link">
                    <div>
                        <h4 class="toggle-btn pc-mode">Contact &amp; Info</h4>
                        <h4 class="toggle-btn sp-mode"><a href="">Contact &amp; Info</a></h4>

                        <div class="toggle-area">
                            <ul>
                                <li><a href="/faq/">よくあるご質問</a></li>
                                <li><a href="/imaproject/ima_magazine/subscription/">雑誌『IMA』定期購読について</a></li>
                                <li><a href="/imaproject/ima_magazine/store_list/">雑誌『IMA』取り扱い店舗一覧</a></li>
                                <li><a href="/imaproject/ad_guide/">広告媒体資料</a></li>
                                <li><a href="/recruit/">採用情報</a></li>
                                <li><a href="/inquiry/">お問い合わせ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <h4 class="toggle-btn pc-mode">Policies</h4>
                        <h4 class="toggle-btn sp-mode"><a href="">Policies</a></h4>
                        <div class="toggle-area">
                            <ul>
                                <li><a target="_blank" href="http://amana.jp/privacypolicy/">プライバシーポリシー</a></li>
                                <li><a href="/terms/">ご利用規約</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h4 class="toggle-btn pc-mode">IMA MEMBERS</h4>
                        <h4 class="toggle-btn sp-mode"><a href="">IMA MEMBERS</a></h4>
                        <div class="toggle-area">
                            <ul>
                                <li><a href="/ima_members/">IMA MEMBERSについて</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
	                </div>

    </header>
            <!-- /4452352/header_970x250 -->
        <div id='div-gpt-ad-1600156405806-0' style='width: 1px; height: 1px;'>
            <script>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1600156405806-0'); });
            </script>
        </div>
    

    <section class="top-main-area" id="top-main-area">
        <div class="main-slider" id="main-slider">
                        <div>
                                <a href="https://imaonline.jp/articles/interview/20210311taro-mizutani/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210311taro-mizutani_top.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210311taro-mizutani_top.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    INTERVIEW                                                                                                                            <small>水谷太郎が愛するカメラ”愛機は時代と共に変わるのがファッション写真だと思います”</small>
                                                                            </h2>
                                                                            <div class="lead-text">
                                            私と愛機 vol.8 水谷太郎～旬のフォトグラファーとカメラの関係～                                        </div>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/interview/20210311grace-ahlbom/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210309grace-ahlbom_top.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210309grace-ahlbom_top.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    New Voice                                                                                                                            <small>ニューヨークの若手写真家ファイル #06 グレース・アルホム</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/interview/20210309tadashi-harada/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210309tadashi-harada_top-1.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/interview-20210309tadashi-harada_top-1.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    INTERVIEW                                                                                                                            <small>ジョジョを実写化した資生堂・原田忠が影響される写真集『セルジュ・ルタンス』</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/style/20210225robert-campbell/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/interview-20210224robert-campbell_top.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/interview-20210224robert-campbell_top.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    LIFE STYLE                                                                                                                            <small>ロバート キャンベルが追い掛ける写真家“横田大輔さんの写真は詩歌のような印象です”</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/interview/20210224yasuhide-kuge/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/report-20210224yasuhide-kuge_top.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/report-20210224yasuhide-kuge_top.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    INTERVIEW                                                                                                                            <small>ヌードを超えた身体（らしきもの）、久家靖秀「Mnemosyne」が促す想像力のエクササイズ</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/report/20210212eiko-ishioka/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/report-20210210eiko-ishioka_top-1.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/report-20210210eiko-ishioka_top-1.jpg);"></p>
                        <div class="text-box">
                                                            <div class="copyright">
                                    <p>パルコの仕事より（1976～1980年）</p>
                                </div>
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    REPORT                                                                                                                            <small>石岡瑛子と写真、その先鋭的な広告クリエイティブの世界</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/interview/20210212mademoiselle-yulia/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/interview-20210209mademoiselle-yulia_top-1.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/interview-20210209mademoiselle-yulia_top-1.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    INTERVIEW                                                                                                                            <small>マドモアゼル・ユリアが愛するのは背徳の写真集ピエール・エ・ジル＆メイプルソープ</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/editors_pick/20210303rinko-kawauchi/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/series-20210302rinko-kawauchi_01-1197x777.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/03/series-20210302rinko-kawauchi_01-1197x777.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    SERIES                                                                                                                            <small>【新連載】川内倫子の日々 vol.2</small>
                                                                            </h2>
                                                                            <div class="lead-text">
                                            捨てられないもの                                        </div>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/articles/bookreview/20210209jo-nagasaka/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/bookreview-20210204jo-nagasaka_top.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2021/02/bookreview-20210204jo-nagasaka_top.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    My Favorite Photobooks                                                                                                                            <small>長坂常がおすすめする写真集3選</small>
                                                                            </h2>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                            <div>
                                <a href="https://imaonline.jp/imaproject/ima_magazine/vol34/">
                                            <p class="img pc-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2020/11/magazine34-20201126_top.jpg);"></p>
                        <p class="img sp-mode"
                           style="background-image:url(https://imaonline.jp/wp-content/uploads/2020/11/magazine34-20201126_sp-589x777.jpg);"></p>
                        <div class="text-box">
                                                                                        <div class="info-text">
                                    <h2>
                                                                                    MAGAZINE                                                                                                                            <small>IMA 2020 Winter Vol.34</small>
                                                                            </h2>
                                                                            <div class="lead-text">
                                            特集：ヴィヴィアン・サッセン、その鮮烈なるビジョン                                        </div>
                                                                    </div>
                                                    </div>
                                        </a>
                        </div>
                        </div>

        <div id="slide-arrow01"></div>
                    <div class="meter-area">
                <div class="meter-wrap">
                    <div>
                        <div class="meter" id="slidemeter01"></div>
                    </div>
                </div>
            </div>
            </section>

			            

    <div class="foot01">
        <div class="inner">
            <!--
						<h3 class="ttl02">IMA MEMBERS</h3>
						<div class="join" id="footer-join">
							<div class="link">
															<a target="_blank" href="https://contact.imaonline.jp/webapp/form/15950_mpx_137/index.do" onClick="ga('send','event','Top','click','IMA MEMBERS_join_37088_IMA ONLINE',true);">
									<h4>JOIN</h4>
									<p>IMA MEMBERS に登録する</p>
								</a>
							</div>
							<p class="text">「IMA MEMBERS」は、IMA ONLINE のメンバー制度です。アートフォトに関するメールマガジンをお届けするほか、IMA CONCEPT STOREやIMA ONLINE STOREでのお買い物が5%OFFになります。</p>
						</div>
						
					-->

            <%# <div class="col2">
				                    <div class="sns-list fl-l">
                        <h3 class="ttl02">Follow Us on SNS</h3>
                        <ul>
							                                <li>
                                    <a target="_blank"                                       href="https://www.facebook.com/imaonline.jp/">
                                        <div class="icon">
                                            <div><p><img src="https://imaonline.jp/wp-content/uploads/2016/05/fb.svg"
                                                         alt="Facebook"></p></div>
                                        </div>
                                        <h4>Facebook</h4>
                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank"                                       href="https://twitter.com/imaonline_jp">
                                        <div class="icon">
                                            <div><p><img src="https://imaonline.jp/wp-content/uploads/2016/05/tw.svg"
                                                         alt="Twitter"></p></div>
                                        </div>
                                        <h4>Twitter</h4>
                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank"                                       href="https://www.youtube.com/channel/UClkqDnyNjTrwGJG0FtTJKYQ">
                                        <div class="icon">
                                            <div><p><img src="https://imaonline.jp/wp-content/uploads/2016/05/yt.svg"
                                                         alt="YouTube"></p></div>
                                        </div>
                                        <h4>YouTube</h4>
                                    </a>
                                </li>
							                                <li>
                                    <a target="_blank"                                       href="https://www.instagram.com/ima_online/">
                                        <div class="icon">
                                            <div><p><img src="https://imaonline.jp/wp-content/uploads/2017/11/instagramicon_footer.svg"
                                                         alt="Instagram"></p></div>
                                        </div>
                                        <h4>Instagram</h4>
                                    </a>
                                </li>
							                                <li>
                                    <a                                        href="https://www.pinterest.jp/imaonline/">
                                        <div class="icon">
                                            <div><p><img src="https://imaonline.jp/wp-content/uploads/2017/11/pintaresticon_footer.svg"
                                                         alt="pintarest"></p></div>
                                        </div>
                                        <h4>pintarest</h4>
                                    </a>
                                </li>
							                        </ul>
                    </div> %>

			                <div class="bnr-list">
                    <ul>
						                            <li>
                                <a target="_blank"                                   href="https://ima-next.jp/"><img
                                            src="https://imaonline.jp/wp-content/uploads/2019/10/footer_imanext_logo.png"
                                            alt="IMA next"></a></li>
						                            <li>
                                <a target="_blank"                                   href="http://amanasalto.com/"><img
                                            src="https://imaonline.jp/wp-content/uploads/2016/05/dummy26.png"
                                            alt="amanasalto"></a></li>
						                            <li>
                                <a target="_blank"                                   href="https://store.imaonline.jp/"><img
                                            src="https://imaonline.jp/wp-content/uploads/2018/08/dummy28.png"
                                            alt="IMA ONLINE STORE"></a></li>
						                    </ul>
                </div>
			
			                <p class="copyright"><a href="http://amana.jp/" target="_blank">© amana inc.</a></p>
			        </div>
    </div>
</footer>
</div>

<!-- Instagram Feed JS -->
<script type="text/javascript">
var sbiajaxurl = "https://imaonline.jp/wp-admin/admin-ajax.php";
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var sb_instagram_js_options = {"sb_instagram_at":"3169546028.M2E4MWE5Zg==.NjNhMDVjMTk4N2Y2.NDk1NmExMzExZWY4NTEzNGYyYjk=","font_method":"svg"};
/* ]]> */
</script>
<script type='text/javascript' src='https://imaonline.jp/wp-content/plugins/instagram-feed/js/sb-instagram.min.js?ver=1.12.2'></script>
<script type='text/javascript'>
var renderInvisibleReCaptcha = function() {

    for (var i = 0; i < document.forms.length; ++i) {
        var form = document.forms[i];
        var holder = form.querySelector('.inv-recaptcha-holder');

        if (null === holder) continue;
		holder.innerHTML = '';

         (function(frm){
			var cf7SubmitElm = frm.querySelector('.wpcf7-submit');
            var holderId = grecaptcha.render(holder,{
                'sitekey': '6Lcck5cUAAAAALc3jfqhB3CnxYQxxcbQzXLmwd4j', 'size': 'invisible', 'badge' : 'inline',
                'callback' : function (recaptchaToken) {
					if((null !== cf7SubmitElm) && (typeof jQuery != 'undefined')){jQuery(frm).submit();grecaptcha.reset(holderId);return;}
					 HTMLFormElement.prototype.submit.call(frm);
                },
                'expired-callback' : function(){grecaptcha.reset(holderId);}
            });

			if(null !== cf7SubmitElm && (typeof jQuery != 'undefined') ){
				jQuery(cf7SubmitElm).off('click').on('click', function(clickEvt){
					clickEvt.preventDefault();
					grecaptcha.execute(holderId);
				});
			}
			else
			{
				frm.onsubmit = function (evt){evt.preventDefault();grecaptcha.execute(holderId);};
			}


        })(form);
    }
};
</script>
<script type='text/javascript' async defer src='https://www.google.com/recaptcha/api.js?onload=renderInvisibleReCaptcha&#038;render=explicit&#038;hl=ja'></script>
<script type='text/javascript' src='https://imaonline.jp/wp-includes/js/wp-embed.min.js?ver=5.2.2'></script>
<script src="https://imaonline.jp/wp-content/themes/ima/common/js/slick.min.js"></script>

    <script src="https://imaonline.jp/wp-content/themes/ima/common/js/infiniteslide.js"></script>
    <script src="https://imaonline.jp/wp-content/themes/ima/common/js/top.js?20181114"></script>

<script src="https://imaonline.jp/wp-content/themes/ima/common/js/userAgent.js?20181204"></script>
<script src="https://imaonline.jp/wp-content/themes/ima/common/js/common.js?202102121"></script>


<script src="https://imaonline.jp/wp-content/themes/ima/common/js/jquery.sliderPro/jquery.sliderPro.js"></script>
<link rel="stylesheet" href="https://imaonline.jp/wp-content/themes/ima/common/js/jquery.sliderPro/slider-pro.css">


<div id="scroll-top-btn">
    <a href="#">
        <img src="https://imaonline.jp/wp-content/themes/ima/common/images/common/arrow_top.png" alt="">
    </a>
</div>

<div class="nav-horizontal nav-horizontal-bottom disp">
    <div class="ios-tapme"></div>
    <div class="mask">
        <ul class="list">
												                        <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/photoastrology/march-2021/"
                                                                       class=""><span>３月後半の運勢</span></a>
                        </li>
					                        <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/imaseries/rinko-kawauchi/"
                                                                       class=""><span>川内倫子の日々</span></a>
                        </li>
					                        <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/articles/interview/"
                                                                       class=""><span>インタヴュー</span></a>
                        </li>
					                        <li class="nav-horizontal-bottom-li-manual"><a href="https://imaonline.jp/articles/archive/"
                                                                       class=""><span>アーカイヴ</span></a>
                        </li>
										                        <li><a href="/tag-search/?tag=IMA next"
                               class=""><span>#IMA next</span></a></li>
						                        <li><a href="/tag-search/?tag=水原希子"
                               class=""><span>#水原希子</span></a></li>
						                        <li><a href="/tag-search/?tag=水谷太郎"
                               class=""><span>#水谷太郎</span></a></li>
						                			        </ul>
    </div>
</div>

<!-- User Insight PCDF Code Start : imaonline.jp -->
<script type="text/javascript">
    var _uic = _uic || {};
    var _uih = _uih || {};
    _uih['id'] = 52949;
    _uih['lg_id'] = '';
    _uih['fb_id'] = '';
    _uih['tw_id'] = '';
    _uih['uigr_1'] = '';
    _uih['uigr_2'] = '';
    _uih['uigr_3'] = '';
    _uih['uigr_4'] = '';
    _uih['uigr_5'] = '';
    _uih['uigr_6'] = '';
    _uih['uigr_7'] = '';
    _uih['uigr_8'] = '';
    _uih['uigr_9'] = '';
    _uih['uigr_10'] = '';

    /* DO NOT ALTER BELOW THIS LINE */
    /* WITH FIRST PARTY COOKIE */
    (function () {
        var bi = document.createElement('script');
        bi.type = 'text/javascript';
        bi.async = true;
        bi.src = '//cs.nakanohito.jp/b3/bi.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(bi, s);
    })();
</script>
<!-- User Insight PCDF Code End : imaonline.jp -->

</body>
</html>